<div id="request_form">
	</br>
	</br>
	</br>
	<%= form_tag(isup_result_path) do %>
	<h1>Is <%= text_field_tag(:url, nil, placeholder: 'google.com') %> down for everyone <%= submit_tag "or is it just me?", :class => "button" %></h1>
	<% end %>
</div>
