// Place all the styles related to the Isup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#request_form {
  padding: 10px;
  border-bottom: 2px solid;
  color: #000000;
  background: #003399;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden; 

}

.failure {
  background: #890000;
  padding: 10px;
  border-bottom: 2px solid;
  color: #FFFFFF;
  href: #000000;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  
  a {
    font-size: 25px
  }
}

.success {
  background: #339933;
  padding: 10px;
  border-bottom: 2px solid;
  color: #FFFFFF;
  href: #000000;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  
  a {
    font-size: 25px
  }
}

.format_error {
  background: #cccc00;
  padding: 10px;
  border-bottom: 2px solid;
  color: #000000;
  href: #000000;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  
  a {
    font-size: 25px
  }
}

.link {
  background: #ffff00;
  padding: 10px;
  border-bottom: 2px solid;
  color: white;
}

input[type=submit] {
   background:none!important;
    border:none; 
    padding:0!important;
   
   /*optional*/
   background: #000099;
   padding: 10px;
   border-bottom: 2px solid;
   font: "Times New Roman", serif;
   font-size: 25px;
   font-weight: bold;
   color: white;
   text-align: center;
   cursor:pointer;
}    

input[type=text] {
  font-size: 25px;
  font: "Times New Roman", serif;
  width: 200px;
}
