// Place all the styles related to the Isup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#request_form {
  background: #000099;
  padding: 10px;
  border-bottom: 2px solid;
  font: "Times New Roman", serif;
  color: #FFFFFF;
  text-align: center;

  h1 {
      background: #000099;
      padding: 10px;
      border-bottom: 2px solid;
      font: "Times New Roman", serif;
      color: #000000;
      text-align: center;
  }

}

.failure {
  background: #890000;
  padding: 10px;
  border-bottom: 2px solid;
  font: "Times New Roman", serif;
  color: #FFFFFF;
  text-align: center;
  href: #000000
}

.success {
  background: #339933;
  padding: 10px;
  border-bottom: 2px solid;
  font: "Times New Roman", serif;
  color: #FFFFFF;
  text-align: center;
  href: #000000;
}

.format_error {
  background: #ffff00;
  padding: 10px;
  border-bottom: 2px solid;
  font: "Times New Roman", serif;
  color: #000000;
  text-align: center;
  href: #000000
}

.link {
  background: #ffff00;
  padding: 10px;
  border-bottom: 2px solid;
  font: "Times New Roman", serif;
  color: #FFFF44;
  text-align: center;
}

input[type=submit] {
   background:none!important;
    border:none; 
    padding:0!important;
   
   /*optional*/
   background: #000099;
   padding: 10px;
   border-bottom: 2px solid;
   font: "Times New Roman", serif;
   font-size: 30px;
   font-weight: bold;
   color: white;
   text-align: center;
   #text-decoration:bold;
   cursor:pointer;
}    
